In [0]:
# import necessary library
import pandas as pd
import numpy as np
import time
from google.cloud import storage
from google.colab import auth

In [0]:
# authenticate user, go to the link and copy the token, paste to the box under
auth.authenticate_user()

In [17]:
project_id = 'ie-project-ml'  # get the project ID from google console
!gcloud config set project {project_id}
!gsutil ls

Updated property [core/project].
gs://asia.artifacts.ie-project-ml.appspot.com/
gs://ie-project-ml.appspot.com/
gs://staging.ie-project-ml.appspot.com/

In [47]:
BUCKET_NAME = "ie-project-ml.appspot.com"     # change your bucket here
MOVIE_DATASETS = "movielen"                   # change your movie dataset folder here

# download all the file in the movielen
!gsutil -m cp -r gs://{BUCKET_NAME}/{MOVIE_DATASETS} .

Copying gs://ie-project-ml.appspot.com/movielen/links.csv...
Copying gs://ie-project-ml.appspot.com/movielen/README.txt...
Copying gs://ie-project-ml.appspot.com/movielen/tags.csv...
Copying gs://ie-project-ml.appspot.com/movielen/ratings.csv...
Copying gs://ie-project-ml.appspot.com/movielen/movies.csv...

In [0]:
# change the folder of the datasets here
df_tags = pd.read_csv("movielen/tags.csv")
df_movies = pd.read_csv("movielen/movies.csv")
df_ratings = pd.read_csv("movielen/ratings.csv")
df_links = pd.read_csv("movielen/links.csv")

In [50]:
df_tags.head()

   userId  movieId              tag   timestamp
0       2    60756            funny  1445714994
1       2    60756  Highly quotable  1445714996
2       2    60756     will ferrell  1445714992
3       2    89774     Boxing story  1445715207
4       2    89774              MMA  1445715200

In [51]:
df_movies.head()

   movieId  ...                                       genres
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy

[5 rows x 3 columns]

In [52]:
df_ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [0]:
df_movies['genres'] = df_movies['genres'].apply(lambda x: x.split('|'))

In [0]:
df_tag_combine = df_tags.groupby(['movieId']).apply(lambda x: list(x['tag'])).reset_index().rename(columns={0:'tags'})

In [0]:
df_movies = pd.merge(df_movies, df_tag_combine, on='movieId',how='left')

In [56]:
df_movies.head()

   movieId  ...                                               tags
0        1  ...                                [pixar, pixar, fun]
1        2  ...  [fantasy, magic board game, Robin Williams, game]
2        3  ...                                       [moldy, old]
3        4  ...                                                NaN
4        5  ...                                [pregnancy, remake]

[5 rows x 4 columns]

In [0]:
df_movies['tags'] = df_movies['tags'].apply(lambda x: x if isinstance(x,list) else [])
df_movies['keywords'] = df_movies['genres'] + df_movies['tags']
df_movies['keywords'] = df_movies['keywords'].apply(lambda x : set([str.lower(i.replace(" ","")) for i in x]))
df_movies.set_index('movieId', inplace=True)

In [0]:
all_keywords = set()
for this_movie_keywords in df_movies['keywords']:
    all_keywords = all_keywords.union(this_movie_keywords)

The aim is to find the chief keyword of each movie. Mean the keyword that has the most predictive power to determine the meaning rating of the movies by all users

In [0]:
df_mxk = pd.DataFrame(0,index=df_movies.reset_index()['movieId'].unique(), columns=all_keywords)
df_mxk['rating'] = df_ratings.groupby('movieId')['rating'].mean()

for index, row in df_mxk.iterrows():
    df_mxk.loc[index,df_movies.loc[index]['keywords']] = 1
    
df_mxk['rating'].fillna(df_mxk['rating'].mean(), inplace=True)

# drop all the keyword that appear less than 5 movies
df_mxk = df_mxk.loc[:,df_mxk.sum() > 5]

In [62]:
# use decision tree to find the chief keyword of each movie
from sklearn.tree import DecisionTreeRegressor

reg = DecisionTreeRegressor(random_state=42)
X = df_mxk.drop('rating',axis=1).as_matrix()
y = df_mxk['rating'].as_matrix()

reg.fit(X,y)
keyword_scores = pd.Series(reg.feature_importances_, index = df_mxk.drop('rating',axis=1).columns)
keyword_frequency = df_mxk.sum(axis=0)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """

In [63]:
df_movies['chief_keyword'] = df_movies['keywords'].apply(lambda x: (keyword_scores[x]/keyword_frequency).idxmax())

/usr/local/lib/python3.6/dist-packages/pandas/core/series.py:951: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self.loc[key]

Next, the aim is to find the similarity score between different chief keyword and then use it for finding similarity scores between movies that will then be used for content filtering. Similarity between scores have a very abstract meaning here, we are finding how much romance is similarity to war, or action to drama etc. For this, we use the technique introduce by Ted Dunning in this link 
http://tdunning.blogspot.com/2008/03/surprise-and-coincidence.html


1. First, create user cross keyword matrix where value in each cell is cumulative sum of the rating given by that user to that chief keyword (or the movie that has that chief keyword) across all movies rated by that user

In [0]:
all_chief_keywords = df_movies['chief_keyword'].unique()
df_uxk = pd.DataFrame(0, index=df_ratings['userId'].unique(), columns=all_chief_keywords)

In [0]:
for row in df_ratings.itertuples(index=True, name='Pandas'):
    this_movie_chief_keyword = df_movies.loc[getattr(row, 'movieId'), 'chief_keyword']
    this_user_this_movie_rating = getattr(row,'rating')
    this_user_id = getattr(row,'userId')
    df_uxk.loc[this_user_id, this_movie_chief_keyword] += this_user_this_movie_rating

create a co-rating matrix where value in each cell is the cumulative sum of the pair wise minimum of all keyword combinations for each user across all the users. It can best be understood by code:

In [0]:
nok = len(all_chief_keywords)
df_co_rating = pd.DataFrame(0, index=all_chief_keywords, columns=all_chief_keywords)

for index, row in df_uxk.iterrows():
    for i, first_keyword in enumerate(all_chief_keywords):
        for j in range(i+1, nok):
            second_keyword = all_chief_keywords[j]
            df_co_rating.loc[first_keyword, second_keyword] +=min(row[first_keyword],row[second_keyword])
            df_co_rating.loc[second_keyword,first_keyword] = df_co_rating.loc[first_keyword, second_keyword]

In [67]:
df_co_rating.head()

           animation  fantasy  romance  ...  blackcomedy  (nogenreslisted)  tense
animation        0.0  13520.5   7465.5  ...         70.5             159.5   43.0
fantasy      13520.5      0.0   8187.5  ...         70.5             157.0   43.0
romance       7465.5   8187.5      0.0  ...         57.5             124.0   30.5
drama        15861.5  17407.5   9630.5  ...         65.5             151.0   39.0
pregnancy      161.0    160.0    146.5  ...          8.0               8.0    2.0

[5 rows x 120 columns]

In [0]:
df_co_rating.to_csv("movielen/df_co_rating.csv",sep=',',index=False)

Create a similarity matrix using Ted Dunning method

In [0]:
import scipy.stats

def sim_matrix(co):
    chief_keywords = co.columns
    df_sim = pd.DataFrame(index = co.index, columns = co.columns)
    f = co.sum()
    n = sum(f)
    
    for first_chief_keyword in chief_keywords:
        for second_chief_keyword in chief_keywords:
            k11 = co.loc[first_chief_keyword][second_chief_keyword]
            k12 = f[first_chief_keyword] - k11
            k21 = f[second_chief_keyword] - k11
            k22 = n - k12 - k21 + k11
            df_sim.loc[first_chief_keyword][second_chief_keyword], p, dof, expctd = scipy.stats.chi2_contingency([[k11,k12],[k21,k22]], lambda_='log-likelihood')
            if((k11/k21) < f[first_chief_keyword]/(n-f[first_chief_keyword])):
                df_sim.loc[first_chief_keyword][second_chief_keyword] = 0
    
    return df_sim

In [0]:
df_sim_chief_keyword = sim_matrix(df_co_rating)

In [71]:
df_sim_chief_keyword.head()

          animation  fantasy  romance  ... blackcomedy (nogenreslisted) tense
animation         0  4551.69  852.575  ...           0                0     0
fantasy     4551.69        0  952.172  ...           0                0     0
romance     852.575  952.172        0  ...           0                0     0
drama       5963.23  6635.36  1372.93  ...           0                0     0
pregnancy         0        0        0  ...      1.9386                0     0

[5 rows x 120 columns]

In [73]:
!pip install scikit-surprise

Collecting scikit-surprise
  Downloading https://files.pythonhosted.org/packages/f5/da/b5700d96495fb4f092be497f02492768a3d96a3f4fa2ae7dea46d4081cfa/scikit-surprise-1.1.0.tar.gz (6.4MB)
     |████████████████████████████████| 6.5MB 4.1MB/s
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise) (0.14.0)
Requirement already satisfied: numpy>=1.11.2 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise) (1.16.5)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise) (1.3.1)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise) (1.12.0)
Building wheels for collected packages: scikit-surprise
  Building wheel for scikit-surprise (setup.py) ... done
  Created wheel for scikit-surprise: filename=scikit_surprise-1.1.0-cp36-cp36m-linux_x86_64.whl size=1678057 sha256=0c434b6e4ce03eea9fd37f19ae8f22232877e36a1cd8c6cc1c45dc6acac61770
  Stored in directory: /root/.cache/pip/wheels/cc/fa/8c/16c93fccce688ae1bde7d979ff102f7bee980d9cfeb8641bcf
Successfully built scikit-surprise
Installing collected packages: scikit-surprise
Successfully installed scikit-surprise-1.1.0

In [74]:
from surprise import SVD, Reader, Dataset
from surprise.model_selection import cross_validate

reader = Reader()
data = Dataset.load_from_df(df_ratings[['userId', 'movieId', 'rating']], reader)
svd = SVD()

cross_validate(svd, data, measures=['RMSE','MAE'], cv=5, verbose=True)

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.8857  0.8543  0.8733  0.8787  0.8752  0.8734  0.0105
MAE (testset)     0.6798  0.6581  0.6678  0.6760  0.6726  0.6709  0.0075
Fit time          5.69    5.21    5.10    5.12    4.97    5.22    0.25
Test time         0.29    0.16    0.15    0.16    0.17    0.18    0.05

{'fit_time': (5.690371036529541,
  5.211069583892822,
  5.09533166885376,
  5.117106914520264,
  4.974785327911377),
 'test_mae': array([0.67979487, 0.65807851, 0.66782064, 0.67602331, 0.67256605]),
 'test_rmse': array([0.88566288, 0.85428139, 0.87330833, 0.87874678, 0.87515921]),
 'test_time': (0.2872583866119385,
  0.16071224212646484,
  0.15024662017822266,
  0.1552143096923828,
  0.16922450065612793)}

In [75]:
def collaborative(userId):
    df_movies['est'] = df_movies.reset_index()['movieId'].apply(lambda x: svd.predict(userId,x).est)
    return df_movies.sort_values('est', ascending=False).head(10)
collaborative(1)

                                 title  ...  est
movieId                                 ...
949                East of Eden (1955)  ...  5.0
924       2001: A Space Odyssey (1968)  ...  5.0
277      Miracle on 34th Street (1994)  ...  5.0
692                        Solo (1996)  ...  5.0
1616            Peacemaker, The (1997)  ...  5.0
694             Substitute, The (1996)  ...  5.0
6710                      Dummy (2002)  ...  5.0
905       It Happened One Night (1934)  ...  5.0
2372               Fletch Lives (1989)  ...  5.0
585      Brady Bunch Movie, The (1995)  ...  5.0

[10 rows x 6 columns]

In [76]:
collaborative(1)

                                 title  ...  est
movieId                                 ...
949                East of Eden (1955)  ...  5.0
924       2001: A Space Odyssey (1968)  ...  5.0
277      Miracle on 34th Street (1994)  ...  5.0
692                        Solo (1996)  ...  5.0
1616            Peacemaker, The (1997)  ...  5.0
694             Substitute, The (1996)  ...  5.0
6710                      Dummy (2002)  ...  5.0
905       It Happened One Night (1934)  ...  5.0
2372               Fletch Lives (1989)  ...  5.0
585      Brady Bunch Movie, The (1995)  ...  5.0

[10 rows x 6 columns]

In [77]:
def hybrid(userId, title):
    title_to_id = df_movies.reset_index()[['movieId', 'title']].set_index('title')
    this_movie_id = title_to_id.loc[title]
    all_movieids = list(df_movies.index)
    sim_scores_series = pd.Series(0,index = all_movieids)
    for movieid in all_movieids:
        sim_scores_series.loc[movieid] = df_sim_chief_keyword.loc[df_movies.loc[this_movie_id,'chief_keyword'],df_movies.loc[movieid,'chief_keyword']].iloc[0]
        
    top_25_ids = sim_scores_series.sort_values(ascending=False)[:26].index
    df_movies_top25 = df_movies.loc[top_25_ids].reset_index()
    
    df_movies_top25['est'] = df_movies_top25['index'].apply(lambda x: svd.predict(userId,x).est)
    
    #Sort the movies in decreasing order of predicted rating
    df_movies_top25 = df_movies_top25.sort_values('est', ascending=False)
    
    #Return the top 10 movies as recommendations
    return df_movies_top25.head(10)

hybrid(2, 'Spider-Man (2002)')

    index                                      title  ... chief_keyword       est
4    1270                  Back to the Future (1985)  ...    timetravel  4.114736
20   1214                               Alien (1979)  ...        aliens  4.054838
0      32  Twelve Monkeys (a.k.a. 12 Monkeys) (1995)  ...    timetravel  4.054582
5   68358                           Star Trek (2009)  ...    timetravel  4.038217
10   4571    Bill & Ted's Excellent Adventure (1989)  ...    timetravel  3.998952
15   1097          E.T. the Extra-Terrestrial (1982)  ...        aliens  3.956974
6     589          Terminator 2: Judgment Day (1991)  ...    timetravel  3.937041
1    1240                     Terminator, The (1984)  ...    timetravel  3.883662
14   1200                              Aliens (1986)  ...        aliens  3.827339
19   1253      Day the Earth Stood Still, The (1951)  ...        aliens  3.792165

[10 rows x 7 columns]

In [78]:
hybrid(2, 'Toy Story (1995)')

    index  ...       est
9    4061  ...  3.730516
0    7299  ...  3.704767
3    4046  ...  3.698829
18   4067  ...  3.685677
19  67734  ...  3.681192
10  68194  ...  3.677760
2    4043  ...  3.630235
25   4041  ...  3.621932
7   68269  ...  3.617302
12   4062  ...  3.597346

[10 rows x 7 columns]

In [0]:
# merge the df_movie and df_link to get the final dataset
df_links = df_links[['movieId','imdbId']]
df_movies = df_movies.merge(df_links,left_on="movieId", right_on="movieId")

# write down df_movie_final to folder
df_movies.to_csv("movielen/df_movies_final.csv",sep=',',index=True)

In [0]:
# export the model to deploy
# first, write the df_sim_chief_keyword
import pickle
df_sim_chief_keyword.to_csv("movielen/df_sim_chief_keyword.csv", sep=',', index=False)
df_movies.to_csv("movielen/df_movies_final.csv",sep=',',index=True)

pickle.dump(svd,open('movielen/svd_prediction.pickle','wb'))

In [88]:
# put the data into bucket

TRAIN_FOLDER = 'movielen-train-model' # change your folder here

!gsutil cp movielen/df_sim_chief_keyword.csv gs://{BUCKET_NAME}/{TRAIN_FOLDER}
!gsutil cp movielen/df_movies_final.csv gs://{BUCKET_NAME}/{TRAIN_FOLDER}
!gsutil cp movielen/svd_prediction.pickle gs://{BUCKET_NAME}/{TRAIN_FOLDER}

Copying file://movielen/df_sim_chief_keyword.csv [Content-Type=text/csv]...
-
Operation completed over 1 objects/173.8 KiB.
Copying file://movielen/df_movies_final.csv [Content-Type=text/csv]...
-
Operation completed over 1 objects/1.2 MiB.
Copying file://movielen/svd_prediction.pickle [Content-Type=application/octet-stream]...
-
Operation completed over 1 objects/10.3 MiB.